.data-vision-tooltip {
    max-width: 300px;
}

.data-vision-button {
    all: unset;
    align-items:center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content:center;
    padding: 0px;
}

.data-vision-button:focus,
.data-vision-button:hover {
    outline: 3px solid #e1e5e833 !important;
}

.data-vision-skeleton-animated {
    animation: dataVisionSkeleton 1.2s infinite alternate-reverse;
}

@keyframes dataVisionSkeleton {
    from {
        opacity: 0.62;
    }
    to {
        opacity: 1;
    }
}